{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'js/myjs.js' %}"></script> -->
    <title>ToDo</title>
</head>
<body>
    <div class="text-center text-white" id="header">
        <h1 class="display-4 ">ToDo List</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Delete Task</h3>
                    </div>
                    <div class="card-body">
                        <h5 font->Are you sure to delete <kbd>{{item}}</kbd></h5>
                        
                    </div>
                    <div class="card-footer">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
                            <button type="submit" class="btn btn-danger">
                                <span class="spinner-border spinner-border-sm"></span>Delete
                            </button> 
                        </form>    
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
            
        </div>

    </div>
</body>
</html>